<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="Lohi"/>
        <property name="gender" value="female"/>
        <property name="age" value="22"/>
    </bean>

    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Shailu"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="18"/>
    </bean>
    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Shailu"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="18"/>
    </bean>
    <!--auto-wire-->
    <bean id="actor10" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Shailu"/>
        <constructor-arg name="gender" value="Male"/>
        <constructor-arg name="age" value="18"/>
    </bean>

    <bean id="movie" class="com.stackroute.domain.Movie">
        <property name="movieName" value="Nuvvu Thoopehe"/>
        <property name="movieId" value="00789TY"/>
        <property name="actor" ref="actor"/>
    </bean>

    <bean id="movie1" class="com.stackroute.domain.Movie" >
        <constructor-arg name="movieName" value="Hello"/>
        <constructor-arg name="movieId" value="00789TZ"/>
        <constructor-arg name="actor" ref="actor1"/>
    </bean>
    <bean name="MovieA,MovieB" class="com.stackroute.domain.Movie"> <!--name="movie1/2.... can be replaced with "MovieA,MovieB"-->
        <constructor-arg name="movieName" value="Hello"/>
        <constructor-arg name="movieId" value="00789TZ"/>
        <constructor-arg name="actor" ref="actor1"/>
    </bean>

        <!--autowire-->

    <bean name="movie10" autowire="byName" class="com.stackroute.domain.Movie"> <!--name="movie1/2.... can be replaced with "MovieA,MovieB"-->
        <constructor-arg name="movieName" value="Hello"/>
        <constructor-arg name="movieId" value="00789TZ"/>
        <constructor-arg name="actor" ref="actor10"/>
    </bean>

    <!-- auto wire byType Error
    <bean name="movie10" autowire="byName" class="com.stackroute.domain.Movie">
        <constructor-arg name="movieName" value="Hello"/>
        <constructor-arg name="movieId" value="00789TZ"/>
        <constructor-arg name="actor" ref="actor10"/>
    </bean>
    -->

    <!--application context aware demo-->

    <bean id="applicationContextAwareDemo" class="awareinterface.ApplicationContextAwareDemo"></bean>
    <bean id="beanNameAwareDemo" class="awareinterface.BeanFactoryAwareDemo"></bean>
    <bean id="beanFactoryAwareDemo" class="awareinterface.BeanNameAwareDemo"></bean>
    <bean id="resourceLoaderAwareDemo" class="awareinterface.ResourceLoaderAwareDemo"></bean>


    <!--BeanLifeCycle Demo-->




    <bean id="beanLifeCycleDemoBean" class="com.stackroute.domain.Demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="CustomDestroy"></bean>


    <bean id="beanLifeCycleDemoBean2" class="com.stackroute.domain.Demo.BeanPostProcessorDemoBean"></bean>
















</beans>